@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Montserrat:wght@400;500;600&display=swap');
// ----------------------------------


$background-color: #133f5f;
$font: Montserrat;
$font2: EB+Garamond;
$color: #fff;


// ----------------------------------

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font;
}

header {
    text-align: center;
    padding-top: 30px;

    img {
        margin-bottom: 20px;
    }
}

section {
    width: 95%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.main {
    width: 80%;
}

.profile {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    .name {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: auto;

        label {
            display: inline-block;
            border-bottom: 1px solid black;
            width: 98%;
            padding-top: 15px;
            padding-bottom: 5px;
        }
    }

    .photo {
        width: 30%;
        min-height: 100px;
        max-width: 200px;
        max-height: 300px;
        border: 0.5px solid rgb(0, 0, 0);
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
    }

    &img {
        max-width: 100%;
        max-height: 100%;
    }
}

p {
    margin-bottom: 10px;
    padding-left: 5px;
    color: $background-color;
    font-weight: 500;
}

.photosAny {
    width: 95%;
    div {
        width: 100%;
        display: flex;
        flex-direction: column;
        img {
            margin: 0 auto;
            max-width: 80%;
        }
    }

}

table {
    width: 100%;
    gap: 5px;
    margin-bottom: 40px;

    tr td {
        border: 0.2px solid black;
        padding: 10px;
        padding-left: 5px;
    }

    .col1 {
        width: 30%;
    }

    .col2 {
        width: 15%;
    }

}

iframe {
    width: 100%;
    height: 100vh;
    font-size: 14px;
    overflow: hidden;
}


