@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Montserrat:wght@400;500;600&display=swap');
// ----------------------------------


$background-color: #133f5f;
$font: Montserrat;
$font2: EB+Garamond;
$color: #fff;


// ----------------------------------

* {
    box-sizing: border-box;
    color: $color;
}

html {
    margin-bottom: 100px;
}

header {
    text-align: center;

    img {
        width: 30%;
        padding: 3% 0 10px 0;
    }

    p {
        font-family: $font2;
        font-weight: 500;
        color: $color;
        font-size: 30px;
    }
}

body {
    background-color: $background-color;
}

.main_section {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;

    p {
        font-family: $font;
        font-size: 16px;
    }

    table {
        width: 100%;
        margin-bottom: 10px;

        td,
        tr {
            width: 100%;
            padding-bottom: 20px;
        }
    }


    .div_input {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .input {
        width: 31%;
        background-color: transparent;
        border: 0.5px solid #fff;
        opacity: 76%;
        border-radius: 4px;
        height: 50px;
        outline: none;
        padding-left: 10px;
        font-family: $font;
        font-size: 16px;
    }

    .input::placeholder {
        font-family: $font;
        font-size: 14px;
        color: $color;
    }

    .td_data1 {
        width: 29%;
    }

    .td_data2 {
        width: 70%;

        input {
            width: 20%;
        }

        input[type=date] {
            padding-left: 10px;
            padding-right: 10px;
            font-family: $font;
            color: $color;
        }

        #c-30::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }
    }

    .textarea_inp {
        width: 100%;
        background-color: transparent;
        border: 0.5px solid #fff;
        opacity: 76%;
        border-radius: 4px;
        height: 100px;
        outline: none;
        padding: 10px;
        font-family: $font;
        font-size: 16px;
    }

    .textarea_inp::placeholder {
        font-family: $font;
        font-size: 14px;
        color: $color;
    }

    .div_benefit {
        display: flex;
        flex-direction: row;
        gap: 20px;

        input {
            opacity: 76%;
            position: relative;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            accent-color: #D0D5DD;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent;
            border: 1px solid #ffffff;
            border-radius: 50%;
            outline: none;
            cursor: pointer;
        }

        :checked::before {
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #D0D5DD;
            opacity: 76%;
        }

        label {
            font-family: $font;
            font-size: 14px;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 10px;
        }
    }

    .div_radio {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;

        input {
            opacity: 76%;
            position: relative;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            accent-color: #D0D5DD;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent;
            border: 1px solid #ffffff;
            border-radius: 50%;
            outline: none;
            cursor: pointer;
        }

        :checked::before {
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #D0D5DD;
            opacity: 76%;
        }

        label {
            font-family: $font;
            font-size: 14px;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 10px;
        }
    }

    .education {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .input_ed {
            text-align: center;
            width: 31%;
            background-color: transparent;
            border: none;
            border-bottom: 0.5px solid #fff;
            opacity: 76%;
            border-radius: 4px;
            height: 50px;
            outline: none;
            padding-left: 10px;
            font-family: $font;
            font-size: 16px;
        }

        .education_container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .input_ed::placeholder {
            text-align: center;
            font-size: 14px;
            color: $color;
        }
    }

    .attestation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .input_att {
            text-align: center;
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 0.5px solid #fff;
            opacity: 76%;
            border-radius: 4px;
            height: 50px;
            outline: none;
            padding-left: 10px;
            font-family: $font;
            font-size: 16px;
        }

        .attestation_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .input_att::placeholder {
            text-align: center;
            font-size: 14px;
            color: $color;
        }
    }

    .qualification {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .input_qf {
            text-align: center;
            width: 31%;
            background-color: transparent;
            border: none;
            border-bottom: 0.5px solid #fff;
            opacity: 76%;
            border-radius: 4px;
            height: 50px;
            outline: none;
            padding-left: 10px;
            font-family: $font;
            font-size: 16px;
        }

        .qualification_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .input_qf::placeholder {
            text-align: center;
            font-size: 14px;
            color: $color;
        }
    }

    .studies {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .input_st {
            text-align: center;
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 0.5px solid #fff;
            opacity: 76%;
            border-radius: 4px;
            height: 50px;
            outline: none;
            padding-left: 10px;
            font-family: $font;
            font-size: 16px;
        }

        .studies_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .input_st::placeholder {
            text-align: center;
            font-size: 14px;
            color: $color;
        }
    }

    .language_container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .input_lang {
            text-align: center;
            width: 90%;
            background-color: transparent;
            border: none;
            border-bottom: 0.5px solid #fff;
            opacity: 76%;
            border-radius: 4px;
            height: 50px;
            outline: none;
            font-family: $font;
            font-size: 16px;
        }

        p {
            text-align: left;
        }

        .input_lang::placeholder {
            text-align: center;
            font-size: 14px;
            color: $color;
        }

        td {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 15px;

            input {
                opacity: 76%;
                position: relative;
                width: 24px;
                height: 24px;
                flex-shrink: 0;
                accent-color: #D0D5DD;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: transparent;
                border: 1px solid #ffffff;
                border-radius: 50%;
                outline: none;
                cursor: pointer;
            }

            :checked::before {
                content: "";
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #D0D5DD;
                opacity: 76%;
            }

            label {
                width: 200px;
                font-family: $font;
                font-size: 14px;
            }
        }
    }

    .skills_container {
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
            text-align: left;
        }

        td {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 15px;

            input {
                opacity: 76%;
                position: relative;
                width: 24px;
                height: 24px;
                flex-shrink: 0;
                accent-color: #D0D5DD;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: transparent;
                border: 1px solid #ffffff;
                border-radius: 50%;
                outline: none;
                cursor: pointer;
            }

            :checked::before {
                content: "";
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #D0D5DD;
                opacity: 76%;
            }

            label {
                width: 200px;
                font-family: $font;
                font-size: 14px;
            }
        }
    }

    .job {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        .input_job {
            text-align: center;
            width: 31%;
            background-color: transparent;
            border: none;
            border-bottom: 0.5px solid #fff;
            opacity: 76%;
            border-radius: 4px;
            height: 50px;
            outline: none;
            padding-left: 10px;
            font-family: $font;
            font-size: 16px;
        }

        .job_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .input_job::placeholder {
            text-align: center;
            font-size: 14px;
            color: $color;
        }
    }

    .army {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        .input_army {
            text-align: center;
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 0.5px solid #fff;
            opacity: 76%;
            border-radius: 4px;
            height: 50px;
            outline: none;
            padding-left: 10px;
            font-family: $font;
            font-size: 16px;
        }

        .army_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .input_army::placeholder {
            text-align: center;
            font-size: 14px;
            color: $color;
        }
    }

    .responsibilities {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        .input_res {
            text-align: center;
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 0.5px solid #fff;
            opacity: 76%;
            border-radius: 4px;
            height: 50px;
            outline: none;
            padding-left: 10px;
            font-family: $font;
            font-size: 16px;
        }

        .responsibilities_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .input_res::placeholder {
            text-align: center;
            font-size: 14px;
            color: $color;
        }
    }

    .supervisor {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        .input_sv {
            text-align: center;
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 0.5px solid #fff;
            opacity: 76%;
            border-radius: 4px;
            height: 50px;
            outline: none;
            padding-left: 10px;
            font-family: $font;
            font-size: 16px;
        }

        .supervisor_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .input_sv::placeholder {
            text-align: center;
            font-size: 14px;
            color: $color;
        }
    }

    .jobtitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        .input_jt {
            text-align: center;
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 0.5px solid #fff;
            opacity: 76%;
            border-radius: 4px;
            height: 50px;
            outline: none;
            padding-left: 10px;
            font-family: $font;
            font-size: 16px;
        }

        .jobtitle_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .input_jt::placeholder {
            text-align: center;
            font-size: 14px;
            color: $color;
        }
    }

    .relatives {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        .input_rel {
            text-align: center;
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 0.5px solid #fff;
            opacity: 76%;
            border-radius: 4px;
            height: 50px;
            outline: none;
            padding-left: 10px;
            font-family: $font;
            font-size: 16px;
        }


        .relatives_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .input_rel::placeholder {
            text-align: center;
            font-size: 14px;
            color: $color;
        }
    }

    .criminal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        .input_cr {
            text-align: center;
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 0.5px solid #fff;
            opacity: 76%;
            border-radius: 4px;
            height: 50px;
            outline: none;
            padding-left: 10px;
            font-family: $font;
            font-size: 16px;
        }

        .criminal_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .input_cr::placeholder {
            text-align: center;
            font-size: 14px;
            color: $color;
        }
    }

    .country {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        .input_cn {
            text-align: center;
            width: 100%;
            background-color: transparent;
            border: 0.5px solid #fff;
            opacity: 76%;
            border-radius: 4px;
            height: 50px;
            outline: none;
            padding-left: 10px;
            font-family: $font;
            font-size: 16px;
        }

        .country_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .input_cn::placeholder {
            text-align: center;
            font-size: 14px;
            color: $color;
        }
    }

    .RelCountry {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        .RelCountry_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .awards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        .awards_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .passport {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .number_series {
            display: flex;
            flex-direction: row;
        }

        .date_code {
            display: flex;
            flex-direction: row;
        }

        .input_ps {
            text-align: center;
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 0.5px solid #fff;
            opacity: 76%;
            border-radius: 4px;
            height: 50px;
            outline: none;
            padding-left: 10px;
            font-family: $font;
            font-size: 16px;
        }

        .passport_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .input_ps::placeholder {
            text-align: center;
            font-size: 14px;
            color: $color;
        }
    }

    .address {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .input_address {
            text-align: center;
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 0.5px solid #fff;
            opacity: 76%;
            border-radius: 4px;
            height: 50px;
            outline: none;
            padding-left: 10px;
            font-family: $font;
            font-size: 16px;
        }

        .address_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .input_address::placeholder {
            text-align: center;
            font-size: 14px;
            color: $color;
        }
    }
}

.remove-button {
    text-align: center;

    button {
        margin-top: 20px;
        background-color: transparent;
        border: 0.5px solid $color;
        border-radius: 4px;
        width: 20%;
        height: 30px;
        opacity: 76%;
    }
}

#remove {
    margin-top: 20px;
    background-color: transparent;
    border: 0.5px solid $color;
    border-radius: 4px;
    width: 20%;
    height: 30px;
    opacity: 76%;
}

.add {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: transparent;
    border: 0.5px solid $color;
    justify-content: center;
    opacity: 76%;
    margin-bottom: 30px;
}

.div-button {
    width: 100%;
    text-align: center;
}

.margin_section_button {
    margin-bottom: 20px;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}

[data-tooltip]:hover::after {
    opacity: 1;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 400px;
    left: 0em;
    top: 0px;
    background: #004781;
    color: #fff;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 0.4s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: 40px;
    z-index: 1;
}

select option {
    background: $background-color;
}

.file-input-container {
    width: 30%;
    min-height: 100px;
    max-width: 200px;
    max-height: 300px;
    border: 0.5px solid white;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &img {
        max-width: 100%;
        max-height: 100%;
    }
}

.file-input-button {
    padding: 10px 5px;
    background-color: transparent;
    border: none;
    height: 30px;
    opacity: 0.76;
    cursor: pointer;
}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.file-input-text {
    text-align: center;
    padding-top: 10px;
}


.file-input-photos {
    width: 30%;
    min-height: 100px;
    max-width: 300px;
    max-height: 400px;
    border: 0.5px solid white;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &img {
        max-width: 100%;
        max-height: 100%;
    }
}

.file-input-button {
    padding: 10px 5px;
    background-color: transparent;
    border: none;
    height: 30px;
    opacity: 0.76;
    cursor: pointer;
}

.photos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.addPhotos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.agreement {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: start;
    gap: 20px;

    div {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

.buttonDownload {
    width: 150px;
    height: 40px;
    border: 0.5px solid white;
    background-color: transparent;
    color: $color;
    border-radius: 20px;

    &:disabled {
        width: 150px;
        height: 40px;
        background-color: rgb(136, 136, 136);
        border: 0.5px solid $background-color;
        color: $background-color;
        border-radius: 20px;
    }

    &:hover {
        width: 150px;
        height: 40px;
        background-color: white;
        border: 0.5px solid white;
        color: $background-color;
        border-radius: 20px;
        transition: all 0.4s;
    }

    &:active {
        width: 150px;
        height: 40px;
        background-color: transparent;
        border: 0.5px solid white;
        color: $color;
        border-radius: 20px;
    }
}